version: "3.9"
services:
  lab1:
    build: ./lab1
    ports:
      - "8081:8080"
    container_name: pr_lab1
  lab2_race:
    build: ./lab2
    environment:
      - VARIANT=server_threaded.py
    ports:
      - "8082:8080"
    container_name: pr_lab2_race
  lab2_lock:
    build: ./lab2
    environment:
      - VARIANT=server_threaded_lock.py
    ports:
      - "8083:8080"
    container_name: pr_lab2_lock
